<%- include('includes/head', {
  title:"Present - Manage your contacs",
  bootstrap: true,
}); %>

    <%- include('includes/bootnav') %>

    <div class="container border rounded ">
      <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-5">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">your contacts are below</p>

          <%- include('includes/messages') %>

          <% if( contacts.length > 0 ){ %>
          <div class="responsive-table">
            <table class="table my-5">
                <% contacts.forEach(contact => { %>
                  <tr>
                    <td><%= contact.name %></td>
                    <td><%= contact.lastName %></td>
                    <td><%= contact.telephone %></td>
                    <td><%= contact.email %></td>
                    <td><a class="link-offset-2 link-underline link-underline-opacity-0" href="/contact/index/<%= contact._id %>">Edit</a></td>
                    <td><a class="text-danger link-offset-2 link-underline link-underline-opacity-0" href="/contact/delete/<%= contact._id %>">Delete</a></td>
                  </tr>
                <% }) %>
              </table>
            </div>
          <% } else { %>
              <p class="text-center py-5">Your don't have any contact registered, click on <strong>Create a contact</strong> to start</p>
          <% }  %>
              

        </div>
      </div>
    </div>


<%- include('includes/footer', {
  bootstrap: true,
}); %>